*{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: burlywood;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#evil-button {
    position: absolute;
    white-space: nowrap;
   width: 150px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: aqua;
}